<template>
  <q-page class='flex flex-center'>
    <div class='character__container'>
      <div class='character__name'>{{ character.name }} </div>
        <img class='character__image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
    </div>
    <!----------------------------Descripción----------------------------------->
    <div class='character__description' v-if='character.description.length > 1'>
      <h3>Description:</h3>
      <p> {{ character.description }} </p>
    </div>
    <div class='character__description' v-if='character.description.length == 0'>
      <h3>No Description Available</h3>
    </div>
    <div class='character__description' v-if='character.description.length == 1'>
      <h3>No Description Available</h3>
    </div>
    <!----------------------------Comics----------------------------------->
    <div class='character__comics' v-if='character.comics.items.length > 0'>
       <h3>Comics where he appeared:</h3>
       <ul v-for='(comic, index) in character.comics.items' :key='index'>
          <li>{{comic.name}}</li>
        </ul>
    </div>
    <div class='character__comics' v-if='character.comics.items.length == 0'>
      <h3>No Comics Availables</h3>
    </div>
    <!----------------------------Series----------------------------------->
    <div class='character__info' v-if='character.series.items.length > 0'>
         <h3>Series where he appeared:</h3>
         <ul v-for='(serie, index) in character.series.items' :key='index'>
            <li>{{serie.name}}</li>
         </ul>
    </div>
    <div class='character__info' v-if='character.series.items.length == 0'>
      <h3>No Series Availables</h3>
    </div>
    <!----------------------------Eventos----------------------------------->
    <div class="character__events"  v-if='character.events.items.length > 0'>
         <h3>Events where he appeared:</h3>
         <ul v-for='(event, index) in character.events.items' :key='index'>
            <li>{{event.name}}</li>
         </ul>
    </div>
    <div class="character__events"  v-if='character.events.items.length == 0'>
      <h3>No Events Availables</h3>
    </div>
    <q-btn color='negative' @click="$router.go(-1)" icon='arrow_back' outline class='boton' label="Back"/>
  </q-page>
</template>

<style>
   body{
    background-image: url('http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif');
}
  .character__image{
    width: 355px;
    height: 350px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .character__container{
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 45px 15px 0px rgba(0,0,0,0.75);
    height: 351px;
    margin: 10px;
  }
  .character__name{
    font-weight: bold;
    font-size: 18px;
    background-image: linear-gradient(-90deg, #61616191, #ED1D2491 );
    color: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
  }
  .character__info, .character__events, .character__description, .character__id, .character__comics {
    margin: 10px;
    border: 1px solid black;
    width: 100%;
    text-transform: capitalize;
    background-color: #30303070;
    border-radius: 5px;
    color: #fafafa;
  }
  .character__id p{
    text-align: center;
    font-size: 20px;
  }
  h3{
    font-weight: bold;
    text-align: center;
  }
  .character__description p{
    font-size: 20px;
    margin: 10px;
    text-align: center;
  }
  .character__description{
    margin-top: 50px;
  }
  .boton{
    float: left;
  }
</style>

<script>
import md5 from 'md5'
export default {
  name: 'PageIndex',

  // view Data
  data: () => ({
    publicApiKey: 'e9953b89e7934d5fae48481590f909a6',
    privateApiKey: 'ce6ede1af199c7bf1d5fe14d933cb61d03d4e5f7',
    character: null
  }),

  // events
  mounted () {
    const timestamp = new Date().getTime()
    const config = {
      params: {
        hash: md5(timestamp + this.privateApiKey + this.publicApiKey),
        apikey: this.publicApiKey,
        ts: timestamp
      }
    }
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters/' + this.$route.params.id, config)
      .then((res) => {
        console.log('Respuesta obtenida', res.data)
        console.log('Consulta', config)
        this.character = res.data.data.results[0]
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
