<template>
  <q-page class="flex flex-center">
      <div class="credits__container">
        <h1>About:</h1>
        <p class='credits__parrafo'>Name: Enrique Alejandro Galván Montes</p>
        <p class='credits__parrafo'>E-mail: enrique.agm2177@gmail.com</p>
        <p class='credits__parrafo'>This application was made with the Marvel API</p>
        <a class='credits__ancords' href='https://developer.marvel.com/'>https://developer.marvel.com/</a>
        <p class='credits__parrafo'><a class='credits__ancords' href='https://disneytermsofuse.com/'>© 2019 Marvel. All rights reserved.</a></p>
      </div>
  </q-page>
</template>

<style>
  .credits__container{
      background-color: #212121cb;
      width: 100%;
      color: #fafafa;
      margin: 10px;
  }
  .credits__parrafo, .credits__ancords{
      margin: 10px;
      font-size: 25px;
  }
  .credits__container h1{
    margin: 10px;
  }
  .credits__ancords{
      color: #f44336;
  }
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
