<template>
  <q-page class='flex flex-center'>
    <form  @submit.prevent='pedirPersonajes()'>
      <q-input class='find' color='negative' dark v-model='search' float-label='Find Your Character' />
      <q-btn color='red-5'  icon='search' outline class='boton'  @click='pedirPersonajes()' label="Search"/>
      <q-btn color='blue-grey-5' icon='refresh' outline class='boton' @click='limpiar()' label="Reset"/>
    </form>
    <div v-for='(character, index) in characters' :key='index'>
      <router-link :to='"characters/" + character.id'>
      <div class='character__contenedor'>
        <div class='character__nombre'>
           {{ character.name }}
           </div>
        <img class='character__imagen' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
      </div>
       </router-link>
    </div>
  </q-page>
</template>
<style>
  body{
    background-image: url('http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif');
    background-attachment: fixed;
  }
  a{
    color: #fafafa;
    text-decoration: none;
  }
  form{
    width: 100%;
    padding: 60px;
  }
  .boton{
    margin: 10px;
  }
  .marvel__logo{
    width: 318px;
    height: 150px;
  }
  .character__imagen{
    width: 299px;
    height: 305px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .character__contenedor{
    text-align: center;
    -webkit-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    width: 299px;
    height: 341px;
    margin: 15px;
    transition: transform 0.3s;
  }
  .character__nombre{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-image: linear-gradient(-90deg, #61616191, #ED1D2491 );
  }
  .character__contenedor:hover{
    transform: scale(1.03, 1.03);
  }
</style>

<script>
import md5 from 'md5'

export default {
  name: 'PageIndex',

  // view Data
  data: () => ({
    publicApiKey: 'e9953b89e7934d5fae48481590f909a6',
    privateApiKey: 'ce6ede1af199c7bf1d5fe14d933cb61d03d4e5f7',
    characters: [],
    search: null
  }),
  methods: {
    limpiar () {
      this.search = null
      this.characters = null
    },
    pedirPersonajes () {
      const timestamp = new Date().getTime()
      const config = {
        params: {
          hash: md5(timestamp + this.privateApiKey + this.publicApiKey),
          apikey: this.publicApiKey,
          ts: timestamp
        }
      }
      if (this.search) {
        config.params.nameStartsWith = this.search
      }
      this.$axios.get('https://gateway.marvel.com/v1/public/characters', config)
        .then((res) => {
          console.log('Respuesta obtenida', res.data)
          this.characters = res.data.data.results
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  },
  // events
  mounted () {
    this.pedirPersonajes()
  }
}
</script>
